/* Font for the markdown source panel */
div.markdown-source-view {
    font-family: 'Segoe UI';
    font-size: 1em;
}

/* Font for the markdown preview panel */
div.markdown-preview-view {
    font-family: 'Segoe UI';
    font-size: 1em;
}

/* Editor font: make thicker */
.cm-s-obsidian .CodeMirror-line * {
    -webkit-font-smoothing: auto;
}

.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-family: "Segoe UI";
}

.cm-s-obsidian .cm-header {
    -webkit-font-smoothing: antialiased;
font-family:'Segoe UI';
}

/* Note 1: the color can be different in Edit and Preview
/* Note 2: for bold use `cm-strong` and `strong` respectively

/* Color of italics in 1 note only */
div.test em {
    color: red;
}

/* And in the note itself add to the top:
`---`
cssclass: test
`---`


```css
/* Set color of bold text */
.cm-s-obsidian .cm-strong, strong {
  color: var(--bright-red);
}
  
/* Set color of italic text */
.cm-em, em {
  color: goldenrod;
}

.signature {
 font-family: 'Lora' /**Choose a cursive font */
 text-align: right;
}