/* Special Font */
body {
    --default-font: 'Bahnschrift Light','Dank Mono', 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    --font-monospace: 'Dank Mono', monospace;
    overflow: hidden;
}

.workspace-leaf-content[data-type="file-explorer"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

.workspace-leaf-content[data-type="search"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

.workspace-leaf-content[data-type="backlink"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

.workspace-leaf-content[data-type="outline"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

.workspace-leaf-content[data-type="starred"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

.workspace-leaf-content[data-type="tag"] {
    font-family: "Quotable", "Dank Mono", 'Inter';
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
}

/* Fix for Quotable smaller size NO COMMIT */
.nav-file-title, .nav-folder-title {
    font-size: 18px;
}

.pane-clickable-item {
    font-size: 18px;
} 

.workspace-leaf-content[data-type="search"] {
    font-size: 18px;
}

.workspace-leaf-content[data-type="backlink"] {
    font-size: 18px;
}

.search-result-file-title {
    font-size: 20px;
}

.outline {
    font-size: 20px;
}

.search-result-file-matches {
    font-size: 18px;
}
/**/

/* New window bar */
.top-titlebar {
    background-color: #3e3471;
}

.top-titlebar-text {
    font-family: "Dank Mono";
    font-size: 15px;
    color: white;
}

.top-titlebar-button {
    opacity: 0.75; 
    color: white;
}
/**/

/* Empty pane */
.workspace-leaf-content[data-type="empty"] {
    background-color: var(--background-primary);
}
/**/

/**/
/* Editor Section */
/**/

/* Front matter box */
.frontmatter-container .frontmatter-section-label {
    width: unset;
}

/* Line size */
.cm-s-obsidian pre.HyperMD-header {
    line-height: 1!important;
}

/* Selection */
.theme-light {
    --text-selection: rgba(112, 93, 207, 0.5);
}

.theme-dark {
    --text-selection: rgba(112, 93, 207, 0.5);
}

::selection {
    background-color: #705dcf!important;
    color: white!important;
}

/* Title */
/* Current main pane */
.view-header-title {
    color: #705dcf;
    text-align: center;
    font-family: "Quotable", "Dank Mono", 'Inter';
    font-size: 20px;
}

.workspace-leaf.mod-active .view-header {
    text-align: center;
}
/* Other pane */
.workspace-leaf-header-title-container {
    text-align: center;
}

/* Headers */
span.cm-formatting.cm-formatting-header.cm-formatting-header-1.cm-header.cm-header-1 {
    color: #705dcf;
}

span.cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2 {
    color: #705dcf;
}

span.cm-formatting.cm-formatting-header.cm-formatting-header-3.cm-header.cm-header-3 {
    color: #705dcf;
}

span.cm-formatting.cm-formatting-header.cm-formatting-header-4.cm-header.cm-header-4 {
    color: #705dcf;
}

span.cm-formatting.cm-formatting-header.cm-formatting-header-5.cm-header.cm-header-5 {
    color: #705dcf;
}

span.cm-formatting.cm-formatting-header.cm-formatting-header-6.cm-header.cm-header-6 {
    color: #705dcf;
}

/* Header folder icon */
.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
    color: #3e3471;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
    color: #705dcf;
}

/* Cursor */
.cm-fat-cursor .CodeMirror-cursor {
    background: #3e3471;
}

.cm-animate-fat-cursor {
    background-color: #3e3471;
}

/* Selection in popup ([[]] autocomplete)*/
.suggestion-item.is-selected {
    background-color: #3e3471;
    color: white;
}

.theme-light .suggestion-shortcut {
    color: var(--text-normal);
}

/* Brighter blockquotes */
.cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block {
    color: #705dcf!important;
}

/* Inner and Outer links */
.cm-url {
    color: lightblue!important;
}

.markdown-highlighting .internal-link .cl-underlined-text {
    color: var(--text-accent)!important;
}

.markdown-highlighting .link .cl-underlined-text {
    color: lightblue!important;
}

/* Blockquote */
.preview blockquote {
    background-color: var(--background-modifier-border);
    border: 1px solid var(--text-muted);
}

/* Highlights and Bold */
.cm-strong {
    color: var(--text-normal);
    font-family: "Inter"!important;
    font-weight: bold!important;
}

strong {
    color: var(--text-normal);
    font-family: "Inter"!important;
    font-weight: bold!important;
}

mark {
    background-color: darkgoldenrod;
}

.markdown-highlighting .tag {
    color: var(--text-accent)!important;
}

/* Tables */
.markdown-preview-view th {
    background-color: #3e3471;
    color: white
}

.cm-s-obsidian pre.HyperMD-table-row span.cm-hmd-table-sep {
    color: unset;
}

.cm-s-obsidian pre.HyperMD-table-row-1 > span {
    color: unset;
}

/* Status bar */
.status-bar {
    background-color: #3e3471;
}

.status-bar-item {
    color: white;
}

/**/
/* Preview section */
/**/
/* Embed  */
.markdown-embed-title {
    color: #705dcf;
}

.markdown-embed-link {
    color: var(--text-accent) !important;
}

.markdown-preview-view .markdown-embed {
    background-color: unset;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Links  */
.markdown-preview-view .internal-link {
    color: #705dcf;
}

.markdown-preview-view a {
    color: lightblue;
}

/**/
/* Side panel section */
/**/
/* Plugin Title and Description */
.plugin-name {
    color: var(--text-normal);
}

.plugin-description {
    color: var(--text-normal)
}

/* Files title and Buttons */
.nav-file-title-content, .nav-folder-title-content {
    color: var(--text-normal);
}

.nav-action-button {
    color: var(--text-normal);
}

/* File explorer navigation selection */
.nav-file-title.is-active, .nav-folder-title.is-active, body:not(.is-grabbing) .nav-file-title:hover, body:not(.is-grabbing) .nav-folder-title:hover {
    background-color: #3e3471;
    color: white;
}

body:not(.is-grabbing) .nav-file-title:hover, body:not(.is-grabbing) .nav-folder-title:hover {
    background-color: #3e3471;
    color: white;
}

.nav-file-title-content, .nav-folder-title-content {
    color:unset;
}

.nav-folder.mod-root > .nav-file-title:hover, .nav-folder.mod-root > .nav-folder-title:hover {
    color: var(--text-normal);
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator, body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: #3e3471;
    color: white;
}

.nav-file-title, .nav-folder-title, .nav-folder-collapse-indicator {
    color: var(--text-normal);
}

/* File explorer menu*/
.menu-item:hover {
    background-color: #3e3471;
    color: white;
}

/* Backlinks Color and Text */
.search-result-file-matched-text {
    background-color: #3e3471;
    color: white;
}

.search-result-file-title {
    color: #705dcf;
}

.search-result-file-matches {
    color: var(--text-normal);
}

.search-result-file-title:hover {
    background-color: #3e3471;
    color: white;
}

.search-result-file-match:hover {
    background-color: #3e3471;
    color: white;
}

/* Folder arrow */
.nav-folder.is-collapsed .nav-folder-collapse-indicator {
    color: #705dcf;
}

.nav-folder-collapse-indicator {
    color: #705dcf;
}

/* Tag Selection */
.tag-pane-tag:hover {
    background-color: #3e3471;
    color: white;
}

.theme-light .tag-pane-tag-count {
    color: var(--text-normal)
}

/* Title */
.side-dock-title {
    color: #705dcf;
}

/* Ribon */
.side-dock-ribbon {
    background-color: #3e3471!important;
    color: var(--text-muted)
}

.side-dock-ribbon-tab, .side-dock-ribbon-action {
    color: white;
}

.theme-dark .side-dock-ribbon-tab.is-active {
    color: white;
}

.theme-dark .side-dock-ribbon-tab.is-before-active {
    color: white;
}

.theme-light .side-dock-ribbon-tab.is-active {
    color: var(--text-normal);
}

.theme-light .side-dock-ribbon-tab.is-before-active {
    color: white;
}

.side-dock-ribbon-tab-inner {
    color: unset;
}

.side-dock-ribbon-before.is-before-active .side-dock-ribbon-tab-inner, .side-dock-ribbon-after.is-after-active .side-dock-ribbon-tab-inner, .side-dock-ribbon-tab.is-before-active .side-dock-ribbon-tab-inner, .side-dock-ribbon-tab.is-after-active .side-dock-ribbon-tab-inner {
    background-color: #3e3471;
}

.side-dock-ribbon-tab, .side-dock-ribbon-before, .side-dock-ribbon-after, .side-dock-ribbon-tab-inner {
    transition: none;
}

.workspace-ribbon.mod-left {
    margin-top: 1px;
    margin-bottom: 1px;
}

.workspace-ribbon.mod-right {
    margin-top: 1px;
    margin-bottom: 1px;
}

/**/
/* Settings panel Section */
/**/
.vertical-tab-nav-item.is-active {
    background-color: #3e3471;
    color:white;
}

.horizontal-tab-nav-item:hover, .vertical-tab-nav-item:hover {
    background-color: #3e3471;
    color: white;
}

.vertical-tab-nav-item.is-active {
    background-color: #3e3471;
}

.vertical-tab-nav-item.is-active {
    border-left-color: #3e3471;
}

.workspace-tabs .workspace-leaf .workspace-leaf-content[data-type="markdown"] .markdown-source-view {
    border-style: none;
    border-color: #0000
}

.workspace-tabs .workspace-leaf .workspace-leaf-content[data-type="markdown"] .markdown-preview-view {
    border-style: none;
    border-color: #0000
}

/* Graph View */

.graph-view.color-fill {
    color: #705dcf;
}

.graph-view.color-circle {
    color: #3e3471;
}

.graph-view.color-line {
    color:  #3e3471;
}

.graph-view.color-text {
    color: var(--text-normal);
}

.graph-view.color-fill-highlight {
    color: #3e3471;
}

.graph-view.color-line-highlight {
    color: #705dcf;
}

/* Layout adjustment for small size */
/* Centered editor with side border */
@media only screen and (min-width: 800px) {
    div:not(.csv-table-wrapper)>.markdown-source-view { 
        position: relative;
        border-right-width: 7rem;
        border-left-width: 7rem;
        border-style: solid;
        border-color: #262140;
    }
}

/* Centered preview */
@media only screen and (min-width: 800px) {
    .view-content > div > .markdown-preview-view 
    {
        height: 100%;
        position: relative;
        border-right-width: 7rem;
        border-left-width: 7rem;
        border-style: solid;
        border-color: #262140;
    }
}
/**/

